.body{
    background-color: #352f5b;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}
.todos li{
    color: white;
    background-color: #423a6f;
    max-width: 450px;
    margin-left:300px; 
}
.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}